*.iml
.vscode
node_modules
coverage
build
dist
test/temp
.sass-cache
.tmp
bower_components
*.swp
test/reports
/reports
target
.DS_Store
.grunt
.project
scripts/npm-debug.log
*.css.map
/**.DS_Store
.idea/
*.log
npm-debug.log*
*~
node_modules/
